/* respondsive */
@media only screen and (max-width: 1800px) {

}
@media only screen and (max-width: 1700px) {
    .sticky-area-wrap .header-ct-left {
        padding-right: 20px;
    }
}
@media only screen and (max-width: 1600px) {
    
}
@media only screen and (max-width: 1550px) {
    .header-customize-item.help,
    .header-customize-item.bell {
        display: none;
    }
    .sticky-area-wrap .header-ct-right .button {
        margin-right: 15px;
    }
    .sticky-area-wrap .header-ct-left {
        padding-left: 15px;
    }
    .sticky-area-wrap .header-ct-left .logo {
        margin-right: 20px;
    }
}
@media only screen and (max-width: 1400px) {
    #main-nav #menu-primary-menu > li:not(:first-child) {
        margin-left: 20px;
    }
    .tf-slider .heading h2 {
        padding-right: 200px;
    }
    .post-navigation {
        padding: 0px;
    }
    .wd-cv-item .item-group .content-left {
        padding: 50px 20px;
    }
    .wd-cv-item .item-group .content-left .avatar {
        margin-bottom: 80px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .cv-road-map::after {
        left: 21.5%;
    }
    .cv-form-details .list-partner li a {
        margin-bottom: 10px;
    }
    .wd-cv-item .content-right {
        padding-right: 0px;
    }
}
@media only screen and (max-width: 1300px) {
    .sticky-area-wrap .header-ct-left .categories {
        display: none;
    }
    .tf-slider .list-category li:not(:last-child) {
        margin-right: 20px;
        margin-bottom: 5px;
    }
    .tf-slider .heading.text-center h2 {
        padding: 0;
    }
    .wd-review-job.sl7 .thumb3 .group-user {
        right: 0%;
    }
    .meta-category-job {
        display: block;
    }
    .category-filter {
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 1200px) {
    .sticky-area-wrap .header-ct-right .account {
        display: none;
    }
    .sticky-area-wrap .header-ct-right .button a {
        margin: 10px 0;
    }
    .sticky-area-wrap .header-ct-left {
        padding-left: 0px;
    }
    .sticky-area-wrap .header-ct-right .button {
      margin-right: 0px;
    }
    .tf-slider .heading h2,
    .tf-slider .heading p {
        padding-right: 100px;
    }
    .tf-slider .form-sl .row-group-search {
        margin-right: 0;
        flex-wrap: wrap;
    }
    .tf-slider.sl2 .list-category,
    .tf-slider.sl4 .list-category {
        margin-bottom: 100px;
    }
    .tf-slider .chart-box {
        top: 0%;
        right: 23.5%;
    }
    .tf-sl4.wd-review-job.thumb2 .trader-box {
        top: 55%;
        right: 0%;
    }
    .tf-slider.sl5 .form-sl,
    .tf-slider.sl6 .form-sl,
    .tf-slider.sl8 .form-sl {
        margin-left: 100px;
        margin-right: 100px;
    }
    .group-icon .sl-icon-box.box {
        width: calc(25% - 40px);
        margin-bottom: 40px;
      }
      .footer-cl-5 {
        margin-left: 20%;
    }
    .job-article .inner-content {
        padding: 0px;
    }
    .features-job .inner-box span.icon-heart {
        padding: 10px;
        font-size: 12px;
    }
    .tf-slider.sl6 .form-sl, .tf-slider.sl8 .form-sl, .tf-slider.sl9 .form-sl {
        margin-left: 100px;
        margin-right: 100px;
    }
}
@media only screen and (max-width: 1024px) {
    .sticky-area-wrap .header-ct-center {
        justify-content: right;
    }
    .header-style2 .nav-wrap {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .header-style2 .header-ct-center .mobile-button {
        margin: auto;
        margin-top: 10px;
    }
    .header-style2 .nav-wrap {
        position: unset;
    }
    .header-style2,
    .tf-slider.sl7 .heading h2,
    .tf-slider.sl7 .heading p {
        padding: 0;
    }
    .header-style2 .sticky-area-wrap .header-ct-center {
        padding: 20px 0;
    }
    .trader-box.sl7 {
        left: 5.7%;
        z-index: 2;
    }
    .tf-slider.sl7 .form-sl .row-group-search {
        margin: 0;
    }
    .post-navigation {
        display: block !important;
    }
    .wd-social {
        margin-bottom: 30px;
    }
    .wd-social .list-social {
        flex-wrap: wrap;
    }
    .wd-social .list-social li {
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 991px) {
    .group-location .box-3,
    .group-location .box-6 {
        width: calc(50% - 20px );
    }
    .tf-sl2.wd-review-job.thumb2 {
        margin-top: 0%;
    }
    .tf-sl2.wd-review-job.thumb2 .tes-box {
        left: 18.5%;
    }
    .tf-slider .heading h2,
    .tf-slider .heading p {
        padding-right: 100px;
    }
    .wd-counter {
        margin-bottom: 30px;
    }
    .wd-review-job.thumb1 .thumb {
        text-align: center;
    }
    .wd-review-job.thumb1 .trader-box.box3 {
        bottom: 7%;
        left: 8.5%;
    }
    .header-style2 .logo {
        padding: 20px 0;
    }
    .wd-review-job.contentbox1,
    .wd-review-job.thumb-style3 {
        padding-top: 0px;
        margin-bottom: 60px;
    }
    .wd-review-job.mgl-100 {
        margin-left: 0;
    }
    .wd-review-job .thumb3 .group-user {
        bottom: -12%;
        top: unset;
    }
    .wd-review-job .list-review2 li {
        padding-left: 30px;
    }
    .wd-get-app .thumb {
        margin-left: 0%;
        text-align: center;
        margin-bottom: 60px;
    }
    .tf-slider.sl6 .form-sl, .tf-slider.sl8 .form-sl, .tf-slider.sl9 .form-sl {
        margin-left: 50px;
        margin-right: 50px;
    }
    .tf-slider.sl3 .list-category {
        margin-bottom: 100px;
    }
    .tf-sl3.wd-review-job.thumb2 .thumb .box1 {
        margin-top: 0%;
    }
    .tf-sl3.wd-review-job.thumb2 .icon2 {
        left: 11%;
    }
    .tf-sl3.wd-review-job.thumb2 .thumb .box1 .markk {
        right: 26%;
    }
    .tf-sl3.wd-review-job.thumb2 .thumb .box2 .markk {
        right: 18%;
    }
    .tf-slider.sl3 {
        padding-bottom: 100px;
    }
    .tf-sl4.wd-review-job.thumb2 .tes-box {
        left: 6.5%;
    }
    .tf-sl4.wd-review-job.thumb2 .trader-box {
        top: 38%;
    }
    .tf-sl4.wd-review-job.thumb2 .thumb,
    .wd-review-job.sl7 .group-thumb {
        margin-right: 0%;
        margin-top: 0%;
    }
    .tf-slider.sl5 .form-sl,
    .tf-slider.sl6 .form-sl,
    .tf-slider.sl8 .form-sl {
        margin-left: 50px;
        margin-right: 50px;
    }
    .tf-slider .heading.text-center p {
        padding: 0 5%;
    }   
    .tf-slider .heading.text-center h2 {
        font-size: 45px;
    }
    .header-style2 .sticky-area-wrap .header-ct-left,
    .footer .wd-social span,
    .cv-road-map::after {
        display: none;
    }
    .header-style2 .sticky-area-wrap .header-ct-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-style2 .header-ct-center .mobile-button {
        margin-top: 0px;
        margin-right: 30px;
    }
    .wd-review-job.sl7 .group-thumb {
        text-align: center;
    }
    .wd-review-job.sl7 .thumb3 .shape-thumb {
        right: 5%;
    }
    .wd-review-job.sl7 .thumb3 {
        margin-top: 40px;
    }
    .footer-cl-1 {
        margin-right: 0;
    }
    .footer-cl-3 {
        margin-left: 0;
    }
    .footer-cl-1,
    .footer-cl-2,
    .footer-cl-3,
    .footer-cl-4,
    .footer-cl-5 {
        margin-bottom: 50px;
    }
    .footer-cl-2 {
        margin-left: 30%;
    }
    .footer .bt-left .copyright {
        margin-right: 20px;
    }
    .wd-cv-item {
       margin-bottom: 50px;
    }
}
@media only screen and (max-width: 767px) {
    .group-location .box-3,
    .group-location .box-6 {
        width: calc(100% - 20px );
    }
    .tf-slider .form-sl .form-group-4 {
        margin: 40px auto 0px auto;
    }
    .sticky-area-wrap .header-ct-right .button a,
    .sticky-area-wrap .header-ct-right,
    .footer .select-language {
       display: none;
    }
    #header .logo,
    .footer .bottom {
        padding: 20px 0;
    }
    .header .header-ct-center .mobile-button { 
        margin: 0;
    }
    .tf-sl2.wd-review-job.thumb2 .tes-box {
        left: 11.5%;
        top: 36%;
    }
    .trader-box.sl7 {
        top: 37%;
    }
    .footer-cl-4,
    .footer-cl-5 {
        margin-left: 0;
    }
    .tf-slider .heading h2,
    .tf-slider .heading p {
        padding-right: 0px;
    }
    .tf-slider .heading h2 {
        font-size: 40px;
    }
    .tf-slider .form-sl .form-group-1 input {
        border: unset;
    }
    .tf-sl4.wd-review-job.thumb2 .tes-box {
        top: -6%;
    }
    .tf-slider .form-sl .form-group-2,
    .tf-slider .form-sl .form-group-1 {
        width: 100%;
    }
    .tf-slider.sl5 .form-sl,
    .tf-slider.sl6 .form-sl {
        margin-left: 20px;
        margin-right: 20px;
    }
    .tf-slider .form-sl .form-group-1 {
        margin-bottom: 20px;
    }
    .tf-slider .heading.text-center h2 {
        font-size: 40px;
    }
    .group-icon .sl-icon-box.box {
        width: calc(50% - 40px);
      }
      .footer-cl-2 {
        margin-left: 0%;
    }
    .footer .bt-left {
        margin-bottom: 10px;
    }
    .footer .bt-left,
    .menu-bottom {
        justify-content: center;
    }
    .footer .wd-social {
        justify-content: center;
    }
    .footer-logo {
        text-align: center;
    }
    .footer-logo {
        margin-bottom: 30px;
    }
    .tf-slider.sl6 .form-sl, .tf-slider.sl8 .form-sl, .tf-slider.sl9 .form-sl {
        margin-left: 20px;
        margin-right: 20px;
    }
    .wd-cv-item .item-group {
        flex-wrap: wrap;
    }
    .wd-cv-item .item-group .content-left,
    .wd-cv-item .item-group .content-right {
        width: calc(100% - 30px);
    }
    .wd-cv-item .content-right {
        padding: 50px 20px;
    }
    .cv-road-map {
        margin: 0;
    }
}
