/* respondsive */
@media only screen and (max-width: 1800px) {

}
@media only screen and (max-width: 1700px) {
    .sticky-area-wrap .header-ct-left {
        padding-right: 20px;
    }
}
@media only screen and (max-width: 1600px) {
    
}
@media only screen and (max-width: 1550px) {
    .header-customize-item.help,
    .header-customize-item.bell {
        display: none;
    }
    .sticky-area-wrap .header-ct-right .button {
        margin-right: 15px;
    }
    .sticky-area-wrap .header-ct-left {
        padding-left: 15px;
    }
    .sticky-area-wrap .header-ct-left .logo {
        margin-right: 20px;
    }
}
@media only screen and (max-width: 1400px) {
    #main-nav #menu-primary-menu > li:not(:first-child) {
        margin-left: 20px;
    }
}
@media only screen and (max-width: 1300px) {
    .sticky-area-wrap .header-ct-left .categories {
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    .sticky-area-wrap .header-ct-right .account {
        display: none;
    }
    .sticky-area-wrap .header-ct-right .button a {
        margin: 10px 0;
    }
}
@media only screen and (max-width: 1024px) {
    .sticky-area-wrap .header-ct-center {
        justify-content: right;
    }
}
@media only screen and (max-width: 991px) {
    .group-location .box-3,
    .group-location .box-6 {
        width: calc(50% - 20px );
    }
    .wd-counter {
        margin-bottom: 30px;
    }
    .wd-review-job.thumb1 .thumb {
        text-align: center;
    }
    .wd-review-job.thumb1 .trader-box.box3 {
        bottom: 7%;
        left: 8.5%;
    }
    .wd-review-job.contentbox1,
    .wd-review-job.thumb-style3 {
        padding-top: 0px;
        margin-bottom: 60px;
    }
    .wd-review-job.mgl-100 {
        margin-left: 0;
    }
    .wd-review-job .thumb3 .group-user {
        bottom: -12%;
        top: unset;
    }
    .wd-review-job .list-review2 li {
        padding-left: 30px;
    }
    .wd-get-app .thumb {
        margin-left: 0%;
        text-align: center;
        margin-bottom: 60px;
    }
}
@media only screen and (max-width: 767px) {
    .group-location .box-3,
    .group-location .box-6 {
        width: calc(100% - 20px );
    }
    .sticky-area-wrap .header-ct-right .button a,
    .sticky-area-wrap .header-ct-right {
       display: none;
    }
    #header {
        padding: 20px 0;
    }
    .header .header-ct-center .mobile-button { 
        margin: 0;
    }
}
