/* widget-menu-link */
.widget-menu-link {
    width: 100%;
    background-color: #F5F5F5;
}

.widget-menu-link ul {
    width: 100%;
    max-width: 1410px;
    margin: auto;
    display: flex;
    padding: 12px 0;
}

.widget-menu-link ul li {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding-right: 28px;
    position: relative;
}

.widget-menu-link ul li a {
    color: #B1B1B1;
}

.widget-menu-link ul li:last-child {
    padding: 0;
}

.widget-menu-link ul li:last-child a {
    color: #121212;
}

.widget-menu-link ul li::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 2px;
    top: 50%;
    right: 12px;
    background-color: #B1B1B1;
}

.widget-menu-link ul li:last-child::after {
    display: none;
}

/* widget-blog-1 */
.widget-blog-1 {
    display: flex;
    gap: 33px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
}

.widget-blog-1 .content {
    padding: 27px 0;
}

.sub-title {
    width: max-content;
    padding: 4px 12px;
    background: rgba(20, 129, 96, 0.1);
    border-radius: 40px;    
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #14A077;
    margin-bottom: 8px;
}

.main-title {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #121212;
    margin-bottom: 8px;
}

.widget-blog-1 .content .meta {
    display: flex;
    gap: 16px;
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #121212;
    margin-bottom: 16px;
}

.widget-blog-1 .content .meta .author span {
    color: #64666C;
}

.widget-blog-1 .content p {
    width: 100%;
    max-width: 545px;
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #64666C;
    margin-bottom: 16px;
}

.widget-button-underline {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-decoration-line: underline;
}

.widget-button-underline a {
    color: #121212;
}

/* blog-pagination */
.widget-pagination {
	display: flex;
    gap: 8px;
}

.widget-pagination .widget-pagination-item {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #121212;
    width: 40px;
    padding: 7px 0;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    text-align: center;
}

.widget-pagination .widget-pagination-item a {
    color: #121212;
}

.widget-pagination .widget-pagination-item:hover,
.widget-pagination .widget-pagination-item.active {
    background-color: #14A077;
}

.widget-pagination .widget-pagination-item:hover a,
.widget-pagination .widget-pagination-item.active a {
    color: #FFFFFF;
}

/* widget-side-bar */
.widget-side-bar {
    width: 100%;
    max-width: 328px;
}

.widget-block-search-2 {
    background: #F5F5F5;
    border-radius: 8px;
    border: none;
    margin-bottom: 40px;
}

.widget-block-search-2 .widget-block-search-2-wrap {
    display: flex;
}

.widget-block-search-2 .widget-block-search-2-wrap input {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B1B1B1;
    font-style: normal;
    padding-left: 16px;
    border: none;
}

.widget-block-search-2 .widget-block-search-2-wrap button {
    font-size: 20px;
    padding: 15px 16px;
    border: none;
}

.widget-side-bar .main-title {
    line-height: 28px;
    margin-bottom: 16px;
}

.widget-side-bar .categories {
    margin-bottom: 48px;
}

.widget-side-bar .categories-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.widget-side-bar .categories-wrap .categories-item {
    width: 100%;
}

.widget-side-bar .categories-wrap .categories-item a {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #121212;
}

.widget-side-bar .categories-wrap .categories-item:hover a {
    color: #14A077;
}

.widget-side-bar .recent-posts {
    margin-bottom: 44px;
}

.widget-side-bar .recent-posts .widget-blog-1 {
    gap: 16px;
    border: none;
    margin-bottom: 28px;
}

.widget-side-bar .recent-posts .widget-blog-1 .content {
    padding: 0;
    max-width: 232px;
}

.widget-side-bar .recent-posts .widget-blog-1 .content .sub-title {
    margin-bottom: 4px;
}

.widget-side-bar .recent-posts .widget-blog-1 .content .text {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.widget-side-bar .recent-posts .widget-blog-1 .content .text a {
    color: #121212;
}

.widget-side-bar .recent-posts .widget-blog-1 .content .text:hover a {
    color: #14A077;
}

.widget-popular-tags .widget-popular-tags-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.widget-popular-tags .widget-popular-tags-wrap .widget-popular-tags-item {
    padding: 8px 16px;
    background: #F1F1F1;
    border-radius: 24px;
}

.widget-popular-tags .widget-popular-tags-wrap .widget-popular-tags-item a {    
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #121212;
}

/* widget-news */
.widget-news {
    text-align: center;
}

.main-heading {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #121212;
    margin-bottom: 8px;
}

.sub-heading {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #64666C;
}

.widget-news .widget-news-wrap {
    margin-top: 40px;
    display: flex;
    gap: 30px;
    text-align: start;
}

.widget-news .widget-news-wrap .widget-blog-1 {
    flex-wrap: wrap;
    gap: 0;
    transition: all 0.3s ease-in-out;
}

.widget-news .widget-news-wrap .widget-blog-1 .image,
.widget-news .widget-news-wrap .widget-blog-1 {
    width: 100%;
}

.widget-news .widget-news-wrap .widget-blog-1 .content {
    padding: 24px;
}

.widget-news .widget-news-wrap .widget-blog-1 .content .main-title a {
    color: #121212;
}

.widget-news .widget-news-wrap .widget-blog-1 .content .main-title:hover a {
    color: #14A077;
}

.widget-news .widget-news-wrap .widget-blog-1:hover {
    box-shadow: 0px 10px 25px rgba(54, 95, 104, 0.1);
    border: none;
}

/* Job Search Form */
.wrapper-content .job-search-form {
    width: 100%;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 2px 2px rgba(28, 36, 51, 0.1);
    border-radius: 8px;
    margin-bottom: 60px;
    }
    .job-search-form form {
    padding: 16px;
    background-color: #FFFFFF;
    border-radius: 8px;
    }
    .row-group-search {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    }
    .job-search-form .form-group-1 {
    width: 40.5%;
    position: relative;
    }
    .job-search-form .form-group-2 {
    width: 40.5%;
    position: relative;
    background-color: #ffffff;
    }
    .job-search-form .form-group-4 {
    width: 19%;
    background-color: #ffffff;
    }
    
    .job-search-form .form-group-2,
    .job-search-form .form-group-3 {
    padding: 0px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .form-group-2 span,
    .form-group-3 span {
    font-size: 24px;
    position: absolute;
    }
    
    .form-group-2 {
    border-right: 1px solid #e5e5e5;
    }
    /* input */
    .form-group-1 > input {
    padding: 12px 24px;
    border: none !important;
    border-right: 1px solid #e5e5e5 !important;
    margin-left: 8px;
    }
    
    .form-group-1 > input::placeholder {
    color: #b1b1b1;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-left: 8px;
    }
    
    .form-group-1 span {
    left: 0px;
    top: 15px;
    color: #121212;
    font-size: 24px;
    position: absolute;
    }
    /* select*/
    .form-group-2 > select,
    .form-group-3 > select {
    padding: 12px 24px;
    border: hidden;
    color: #b1b1b1;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-left: 8px;
    cursor: pointer;
    }
    
    button.btn-find {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    padding: 12px 34px;
    background-color: #14a077;
    color: #ffffff;
    border-radius: 4px;
    text-transform: none;
    }
    button.btn-find:hover {
    background-color: #148160;
    color: #ffffff;
}

/* slide-2 */
.slide-2 .slide-2-wrap {
    padding: 107px 0 105px;
    background-image: url(../images/page-title/home-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-2 .slide-2-content {
    width: 100%;
    max-width: 1410px;
    margin: auto;
}

.slide-2 .slide-2-content h2 {
    max-width: 562px;
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    color: #121212;
    margin-bottom: 20px;
}

.slide-2 .slide-2-content p {
    max-width: 612px;
    font-family: "Lato" , sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #64666C;
    margin-bottom: 22px;
}


.slide-2 .slide-2-content .list-links {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.slide-2 .slide-2-content .list-links a {
    color: #64666C;
    margin-right: 30px;
}

.slide-2 .slide-2-content .list-links a:hover,
.slide-2 .slide-2-content .list-links a.active {
    color: #121212;
    text-decoration-line: underline;
}

.slide-2 .slide-2-content .job-search-form {
    max-width: 953px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #148160;
}

/* slide-3 */
.slide-3 .slide-3-wrap {
    padding: 107px 0 105px;
    background-image: url(../images/page-title/home-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-3 .slide-3-content {
    width: 100%;
    max-width: 1410px;
    margin: auto;
}

.slide-3 .slide-3-content h2 {
    max-width: 562px;
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.slide-3 .slide-3-content p {
    max-width: 612px;
    font-family: "Lato" , sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.slide-3 .slide-3-content .job-search-form {
    max-width: 953px;
    margin-bottom: 20px;
    border-radius: 8px;
}


.slide-3 .slide-3-content .list-links {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.slide-3 .slide-3-content .list-links a {
    color: #FFFFFF;
    margin-right: 30px;
}

.slide-3 .slide-3-content .list-links a:hover,
.slide-3 .slide-3-content .list-links a.active {
    text-decoration-line: underline;
}

/* slide-4 */
.slide-4 .slide-4-wrap {
    padding: 107px 0 105px;
    background-image: url(../images/page-title/home-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-4 .slide-4-content {
    width: 100%;
    max-width: 1410px;
    margin: auto;
}

.slide-4 .slide-4-content h2 {
    max-width: 562px;
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    color: #121212;
    margin-bottom: 20px;
}

.slide-4 .slide-4-content p {
    max-width: 612px;
    font-family: "Lato" , sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #64666C;
    margin-bottom: 22px;
}


.slide-4 .slide-4-content .list-links {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.slide-4 .slide-4-content .list-links a {
    color: #64666C;
    margin-right: 30px;
}

.slide-4 .slide-4-content .list-links a:hover,
.slide-4 .slide-4-content .list-links a.active {
    color: #121212;
    text-decoration-line: underline;
}

.slide-4 .slide-4-content .job-search-form {
    max-width: 953px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* slide-6 */
.slide-6 .slide-6-wrap {
    padding: 60px 0 0 0;
    background-color: #123841;
    background-image: url(../images/page-title/home-7.png);
    background-position: 350px 162px;
    background-repeat: no-repeat;
    text-align: center;
    }
    
    .slide-6 .slide-6-content {
    width: 100%;
    max-width: 1410px;
    margin: auto;
    }
    
    .slide-6 .slide-6-content h2 {
    max-width: 562px;
    margin: auto;
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    color: #FFFFFF;
    margin-bottom: 20px;
    }
    
    .slide-6 .slide-6-content p {
    max-width: 612px;
    margin: auto;
    font-family: "Lato" , sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 22px;
    }
    
    
    .slide-6 .slide-6-content .job-search-form {
    max-width: 953px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #148160;
    }
    
    .slide-6 .slide-6-content .job-search-form {
    max-width: 785px;
    margin: auto;
    }




/* slide-8 */
.slide-8 .slide-8-wrap {
padding: 167px 0 168px;
background-image: url(../images/page-title/home-9.png);
background-position: 1096px 107px;
background-repeat: no-repeat;
}

.slide-8 .slide-8-content {
width: 100%;
max-width: 1410px;
margin: auto;
}

.slide-8 .slide-8-content h2 {
max-width: 562px;
font-family: "Plus Jakarta Sans" , sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 68px;
color: #121212;
margin-bottom: 20px;
}

.slide-8 .slide-8-content p {
max-width: 612px;
font-family: "Lato" , sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #64666C;
margin-bottom: 22px;
}


.slide-8 .slide-8-content .list-links {
font-family: "Plus Jakarta Sans" , sans-serif;
font-weight: 600;
font-size: 14px;
line-height: 24px;
}

.slide-8 .slide-8-content .list-links a {
color: #64666C;
margin-right: 30px;
}

.slide-8 .slide-8-content .list-links a:hover,
.slide-8 .slide-8-content .list-links a.active {
color: #121212;
text-decoration-line: underline;
}

.slide-8 .slide-8-content .job-search-form {
max-width: 953px;
margin-bottom: 20px;
border-radius: 8px;
border: 1px solid #148160;
}

.slide-8 .slide-8-content .job-search-form {
max-width: 785px;
}