@import url(cuong.css);
@import url(nice-select.css);
@import url(../fonts/icon-font.css);
/* widget-menu-link */
.tf-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1440px;
  max-width: 100%;
}
.widget-menu-link {
  width: 100%;
  background-color: #f5f5f5;
}

.widget-menu-link ul {
  width: 100%;
  max-width: 1410px;
  margin: auto;
  display: flex;
  padding: 12px 0;
}

.widget-menu-link ul li {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  padding-right: 28px;
  position: relative;
}

.widget-menu-link ul li a {
  color: #b1b1b1;
}

.widget-menu-link ul li:last-child {
  padding: 0;
}

.widget-menu-link ul li:last-child a {
  color: #121212;
}

.widget-menu-link ul li::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 2px;
  top: 50%;
  right: 12px;
  background-color: #b1b1b1;
}

.widget-menu-link ul li:last-child::after {
  display: none;
}

/* widget-blog-1 */
.widget-blog-1 {
  display: flex;
  gap: 33px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
}

.widget-blog-1 .content {
  padding: 27px 0;
}

.sub-title {
  width: max-content;
  padding: 4px 12px;
  background: rgba(20, 129, 96, 0.1);
  border-radius: 40px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #14a077;
  margin-bottom: 8px;
}

.main-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #121212;
  margin-bottom: 8px;
}

.widget-blog-1 .content .meta {
  display: flex;
  gap: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #121212;
  margin-bottom: 16px;
}

.widget-blog-1 .content .meta .author span {
  color: #64666c;
}

.widget-blog-1 .content p {
  width: 100%;
  max-width: 545px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #64666c;
  margin-bottom: 16px;
}

.widget-button-underline {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: underline;
}

.widget-button-underline a {
  color: #121212;
}

/* blog-pagination */
.widget-pagination {
  display: flex;
  gap: 8px;
}

.widget-pagination .widget-pagination-item {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #121212;
  width: 40px;
  padding: 7px 0;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  text-align: center;
}

.widget-pagination .widget-pagination-item a {
  color: #121212;
}

.widget-pagination .widget-pagination-item:hover,
.widget-pagination .widget-pagination-item.active {
  background-color: #14a077;
}

.widget-pagination .widget-pagination-item:hover a,
.widget-pagination .widget-pagination-item.active a {
  color: #ffffff;
}

/* widget-side-bar */
.widget-side-bar {
  width: 100%;
  max-width: 328px;
}

.widget-block-search-2 {
  background: #f5f5f5;
  border-radius: 8px;
  border: none;
  margin-bottom: 40px;
}

.widget-block-search-2 .widget-block-search-2-wrap {
  display: flex;
}

.widget-block-search-2 .widget-block-search-2-wrap input {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #b1b1b1;
  font-style: normal;
  padding-left: 16px;
  border: none;
}

.widget-block-search-2 .widget-block-search-2-wrap button {
  font-size: 20px;
  padding: 15px 16px;
  border: none;
}

.widget-side-bar .main-title {
  line-height: 28px;
  margin-bottom: 16px;
}

.widget-side-bar .categories {
  margin-bottom: 48px;
}

.widget-side-bar .categories-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.widget-side-bar .categories-wrap .categories-item {
  width: 100%;
}

.widget-side-bar .categories-wrap .categories-item a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #121212;
}

.widget-side-bar .categories-wrap .categories-item:hover a {
  color: #14a077;
}

.widget-side-bar .recent-posts {
  margin-bottom: 44px;
}

.widget-side-bar .recent-posts .widget-blog-1 {
  gap: 16px;
  border: none;
  margin-bottom: 28px;
}

.widget-side-bar .recent-posts .widget-blog-1 .content {
  padding: 0;
  max-width: 232px;
}

.widget-side-bar .recent-posts .widget-blog-1 .content .sub-title {
  margin-bottom: 4px;
}

.widget-side-bar .recent-posts .widget-blog-1 .content .text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

.widget-side-bar .recent-posts .widget-blog-1 .content .text a {
  color: #121212;
}

.widget-side-bar .recent-posts .widget-blog-1 .content .text:hover a {
  color: #14a077;
}

.widget-popular-tags .widget-popular-tags-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.widget-popular-tags .widget-popular-tags-wrap .widget-popular-tags-item {
  padding: 8px 16px;
  background: #f1f1f1;
  border-radius: 24px;
}

.widget-popular-tags .widget-popular-tags-wrap .widget-popular-tags-item a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #121212;
}

/* widget-news */
.widget-news {
  text-align: center;
}

.main-heading {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #121212;
  margin-bottom: 8px;
}

.sub-heading {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #64666c;
}

.widget-news .widget-news-wrap {
  margin-top: 40px;
  display: flex;
  gap: 30px;
  text-align: start;
}

.widget-news .widget-news-wrap .widget-blog-1 {
  flex-wrap: wrap;
  gap: 0;
  transition: all 0.3s ease-in-out;
}

.widget-news .widget-news-wrap .widget-blog-1 .image,
.widget-news .widget-news-wrap .widget-blog-1 {
  width: 100%;
}

.widget-news .widget-news-wrap .widget-blog-1 .content {
  padding: 24px;
}

.widget-news .widget-news-wrap .widget-blog-1 .content .main-title a {
  color: #121212;
}

.widget-news .widget-news-wrap .widget-blog-1 .content .main-title:hover a {
  color: #14a077;
}

.widget-news .widget-news-wrap .widget-blog-1:hover {
  box-shadow: 0px 10px 25px rgba(54, 95, 104, 0.1);
  border: none;
}

/* widget-phi vu
----------------------------------------- */

.dashboard .themes-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  max-width: 100%;
}

.dashboard a {
  display: inline-block;
  cursor: pointer;
  color: #000;
}

.dashboard a:hover {
  color: #14a077;
}

.dashboard h1 {
  font: 50px/50px "Plus Jakarta Sans", sans-serif;
}
.dashboard h2 {
  font: 45px/45px "Plus Jakarta Sans", sans-serif;
}
.dashboard h3 {
  font: 20px/28px "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}
.dashboard h4 {
  font: 16px/28px "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}
.dashboard h5 {
  font: 14px/24px "Plus Jakarta Sans", sans-serif;
}
.dashboard h6 {
  font: 20px/20px "Plus Jakarta Sans", sans-serif;
}

.dashboard p {
  font: 16px/26px "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #64666c;
}

.dashboard .p-16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.dashboard .fw-6 {
  font-weight: 600;
}

.dashboard .fw-7 {
  font-weight: 700;
}

.dashboard .center {
  text-align: center;
}

.dashboard .color-1 {
  color: #000;
}
.dashboard .color-2 {
  color: #fff;
}
.dashboard .color-3 {
  color: #14a077;
}
.dashboard .color-4 {
  color: #64666c;
}

.dashboard {
  background: #f5f5f5;
}

.dashboard .flex {
  display: flex;
}

.dashboard .flex2 {
  display: flex;
  align-items: center;
}

/* .page-title-dashboard */
.page-title-dashboard {
  padding: 38px 0 32px;
}

.page-title-dashboard .title-dash {
  font-size: 24px;
  font-weight: 700;
}

.page-title-dashboard svg {
  margin-right: 12px;
}

/* flat-icon-dashboard */
.flat-icon-dashboard {
  padding-bottom: 19px;
}

.flat-icon-dashboard .wrap-icon {
  margin-left: -20px;
  display: flex;
}

.flat-icon-dashboard .box-icon {
  background-color: #fff;
  width: calc(25% - 20px);
  margin-left: 20px;
  padding: 21px 20px 19px 20px;
  align-items: center;
  border-radius: 8px;
}

.flat-icon-dashboard .box-icon .icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px;
}

.flat-icon-dashboard .icon.style1 {
  background-color: #5f66f51f;
}
.flat-icon-dashboard .icon.style2 {
  background-color: #eb4d4d1a;
}
.flat-icon-dashboard .icon.style3 {
  background-color: #1481601a;
}
.flat-icon-dashboard .icon.style4 {
  background-color: #ffb3211a;
}

.flat-icon-dashboard .box-icon .content {
  margin-left: 20px;
  margin-top: 7px;
}

.flat-icon-dashboard .box-icon .count-dash {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 9px;
}

/* flat-dashboard-dyagram  */
.flat-dashboard-dyagram {
  padding-bottom: 20px;
}

.flat-dashboard-dyagram .wrap-dyagram .box-dyagram {
  width: 65.7%;
  background-color: #fff;
  margin-right: 20px;
  flex: none;
  padding: 25px 15px 0 10px;
}
.flat-dashboard-dyagram .wrap-dyagram .box-dyagram h3 {
  margin-left: 14px;
}

.flat-dashboard-dyagram .toolbar-box {
  margin-bottom: 12px;
  justify-content: space-between;
}

.flat-dashboard-dyagram .box-notifications {
  width: 34%;
  background-color: #fff;
  padding: 25px 23px;
}

.flat-dashboard-dyagram .box-notifications .noti-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #1481601a;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin-right: 12px;
}
.flat-dashboard-dyagram .box-notifications .noti-icon span::before {
  font-size: 20px;
  color: #14a077;
}
.flat-dashboard-dyagram .box-notifications h3 {
  margin-bottom: 20px;
}

.flat-dashboard-dyagram .box-notifications .inner {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.flat-dashboard-dyagram .box-notifications .inner h4 {
  color: #121212;
  margin-right: 5px;
}
.flat-dashboard-dyagram .box-notifications .inner p {
  margin-right: 5px;
}

/* flat dashboard applicants */
.flat-dashboard-applicants {
  padding-bottom: 40px;
}
.flat-dashboard-applicants .applicants {
  background: #fff;
}
.flat-dashboard-applicants .applicants .title-appli {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 19px 15px 32px;
}

.flat-dashboard-applicants .applicants .wrap-applicants {
  padding: 16px 19px 15px 32px;
}

.flat-dashboard-applicants .applicants .box.box-title {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 24px 14px 24px;
}

.flat-dashboard-applicants .applicants .box.box-title .title {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #64666c;
  letter-spacing: 1.2px;
}

.flat-dashboard-applicants .applicants .box.box-content {
  padding: 43px 16px 26px;
  border-bottom: 1px solid #e5e5e5;
  transition: all 0.3s ease;
}

.flat-dashboard-applicants .applicants .box.box-content:last-child {
  padding: 43px 16px 35px;
  border-bottom: 0px solid #e5e5e5;
}

.flat-dashboard-applicants .applicants .box.box-content:hover {
  background: #f5f5f5;
}

.flat-dashboard-applicants .applicants .box.box-content:hover .action-icon {
  background: #fff;
}

.flat-dashboard-applicants .applicants .box .candidates-wrap .images {
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin-right: 16px;
}
.flat-dashboard-applicants .applicants .content .button-now a {
  background-color: #1481601a;
  color: #14a077;
  padding: 4px 12px 4px 12px;
  border-radius: 24px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 12px;
}

.flat-dashboard-applicants .applicants .content .button-now a:hover {
  background-color: #14a077;
  color: #fff;
}
.flat-dashboard-applicants .applicants .content h3 {
  margin-bottom: 7px;
}

.flat-dashboard-applicants .applicants .content .map::before {
  content: "\e99e";
  font-family: "icomoon";
  font-size: 16px;
  margin-right: 5px;
}
.flat-dashboard-applicants .applicants .action-wrap ul {
  justify-content: end;
}

.flat-dashboard-applicants .applicants .action-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f2;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 20px;
  transition: all 0.3s ease;
}

.flat-dashboard-applicants .applicants .box-1 {
  width: 29%;
}
.flat-dashboard-applicants .applicants .box-2 {
  width: 26%;
  text-align: center;
}
.flat-dashboard-applicants .applicants .box-3 {
  width: 15%;
}
.flat-dashboard-applicants .applicants .box-4 {
  width: 28.7%;
  text-align: end;
}

.dashboard .button-status {
  background-color: #1481601a;
  font-weight: 700;
  border-radius: 24px;
  display: inline-flex;
  justify-content: center;
  width: 100px;
  align-items: center;
  height: 34px;
}

.dashboard .button-status.style {
  background-color: #ffb3211a;
  color: #ffb321;
}

.dashboard .button-cancel {
  border: 1px solid #14a077;
  background-color: #fff;
  padding: 6px 19px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.dashboard .button-cancel:hover {
  background-color: #14a077;
  color: #fff;
}

/* flat-dashboard-bottom */
.flat-dashboard-bottom {
  margin-bottom: 20px;
}

.flat-dashboard-bottom h5 {
  color: #64666c;
}

/* dyagram */
.dashboard .toolbar {
  margin-left: 45px;
}

.dashboard button {
  background: #fff;
  color: #222;
  border: 1px solid #e7e7e7;
  border-bottom: 2px solid #ddd;
  border-radius: 2px;
  padding: 4px 17px;
}

.dashboard button.active {
  color: #fff;
  background: rgba(20, 160, 119, 1);
  border: 1px solid #14a077;
  border-bottom: 2px solid #14a077;
}

.dashboard button:focus {
  outline: 0;
}

/* dashboard */

.dashboard .btn {
  position: fixed;
  z-index: 99;
  top: 80px;
  left: 45px;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: left 0.4s ease;
}

.dashboard .btn.click {
  left: 300px;
}

.dashboard .btn.click span:before {
  content: "\e9a7";
  color: red;
}

.dashboard .btn span {
  color: #000;
  font-size: 28px;
}

.dashboard__sidebar {
  position: fixed;
  z-index: 99;
  width: 280px;
  height: 100%;
  left: -360px;
  background: #fff;
  /* box-shadow: 11.811px 11.811px 59.0551px rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(11.811px);
  transition: left 0.4s ease;
}
.dashboard__sidebar.show {
  left: 0px;
}
.dashboard__sidebar .sidebar__menu {
  /* height: 60vh; */
  width: 100%;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 21px 25px 17px 17px;
}
.dashboard__sidebar .sidebar__menu li {
  line-height: 49px;
  margin-bottom: 3px;
  text-transform: capitalize;
}

.dashboard__sidebar .sidebar__menu li a {
  position: relative;
  color: #121212;
  padding-left: 10px;
  /* background-color: #fff; */
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.3s all ease-in-out;
}

.dashboard__sidebar .sidebar__menu li a:hover {
  background-color: #f5f5f2;
}
.dashboard__sidebar .sidebar__menu .active {
  background-color: #f5f5f2;
}

.dashboard__sidebar .sidebar__menu .active a span {
  color: #14a077;
}
.dashboard__sidebar .sidebar__menu li a:hover span {
  color: #14a077;
}

.dashboard__sidebar .sidebar__menu li a span::before {
  transition: 0.3s all ease-in-out;
}

.dashboard__sidebar .sidebar__menu li a:hover span::before {
  color: #14a077;
}

.dashboard__sidebar .sidebar__menu li a span {
  margin-right: 12px;
  font-size: 24px;
}

.dashboard__sidebar .sidebar__menu li a.feat-btn::after {
  color: #fff;
  font-family: "icomoon";
  content: "\e900";
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  right: 16px;
  top: 2px;
  transform: rotate(-90deg);
}

.dashboard__sidebar .sidebar__menu li ul {
  position: static;
  display: none;
  margin-top: 10px;
}

.dashboard__sidebar .sidebar__menu li ul.feat-show.show {
  display: block;
}

.dashboard__sidebar .sidebar__menu li ul li {
  line-height: 42px;
  border-top: none;
}
.dashboard__sidebar .sidebar__menu li ul li a {
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 90px;
  background: transparent !important;
}

.dashboard__sidebar .sidebar__menu li ul li a::before {
  display: none;
}

.dashboard .dashboard__sidebar .sidebar__menu::-webkit-scrollbar {
  width: 3px;
  background: rgba(255, 255, 255, 0.1);
}
.dashboard .dashboard__sidebar .sidebar__menu::-webkit-scrollbar-thumb {
  background: linear-gradient(216.56deg, #e250e5 5.32%, #4b50e6 94.32%);
}

.dashboard.show .dashboard__content {
  margin-left: 289px;
}

/*=============== HOME PAGE ==================*/
.tf-title.style-2 {
  text-align: center;
  display: block;
}
.wrap-button {
  padding-top: 8px;
  text-align: center;
}
button.tf-button.style-1 {
  border: 1px solid #14a077;
  padding: 12px 32px;
  border-radius: 4px;
}

.swiper-wrapper.style-1 {
  padding-bottom: 32px;
  cursor: pointer;
}
.tes-bullet.style-1 {
  bottom: 0 !important;
}
.tf-title.style-3 {
  margin-bottom: 32px;
}
.tabs-box {
  position: relative;
}

.tabs-box .tab {
  display: none;
}

.tabs-box .active-tab {
  display: block;
}

.tabs-box .tab-btn {
  cursor: pointer;
}
.tab-buttons.-pills-condensed .tab-btn.active-btn {
  color: white;
  background-color: #14a077;
}
.tab-buttons-wrap {
  display: flex;
  justify-content: center;
}
.tab-buttons.-pills-condensed .tab-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  padding: 7px 32px;
  height: 100%;
  box-shadow: 0px 2px 2px rgba(28, 36, 51, 0.1);
  border-radius: 99px;
  background-color: #f5f5f2;
  color: #202124;
  border: none;
}
.tab-buttons.-pills-condensed {
  display: flex;
  gap: 12px;
}
