/* sidebar */

.main-content {
  max-width: 1410px;
  display: flex;
  margin: 60px auto;
}

/* sidebar */
.filters-column {
  max-width: 449px;
  width: 100%;
  height: 100%;
  margin-right: 32px;
  padding: 16px 24px;
  background-color: #f5f5f5;
  border-radius: 8px;
}
.filters-column .filters-outer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}
.filters-column .filters-outer h1 {
  color: #121212;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 12px;
}
.filters-column .filter-block {
  max-width: 400px;
  width: 100%;
  position: relative;
}
.filter-block input.input-search-job {
  border: none;
  padding-left: 44px;
  font-style: normal;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 16px;
}
.filter-block span.search-job {
  position: absolute;
  left: 12px;
  top: 52px;
  font-size: 24px;
}
.filter-block span.search-job::placeholder {
  color: #b1b1b1;
}
.filter-block span.icon-map-pin {
  position: absolute;
  font-size: 24px;
  left: 12px;
  top: 50px;
}
.filter-block .all-location {
  padding-left: 44px !important;
}

/* select-custom */
.filter-block select.style-select {
  width: 100%;
  overflow: hidden;
  color: #121212;
  background: url(../icons/arrow-down.png) no-repeat 362px #ffffff;
  border: 1px solid #ffffff;
  font-style: normal;
  padding-left: 16px;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  border: none;
  border-radius: 8px;
  -webkit-appearance: none;
}

/* range-slide */
/* .range-slide input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  border-radius: 50%;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.display {
  margin: 40px;
  width: 240px;
  display: flex;
  justify-content: space-between;
} */

/* slide two */

.price-input {
  color: #14a077;
  font-weight: 700;
  width: 54%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-input h2 {
  font-weight: 700;
  color: #121212;
  font-size: 16px;
  margin-right: 2px;
}
.price-input span {
  margin: 0px 2px;
}
.price-input input {
  font-size: 16px;
  font-weight: 700;
  color: #14a077;
  outline: none;
  font-style: normal;
  border: none;
  padding: 0;
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.filter-block .range-slider-two {
  margin-top: 35px;
  height: 6px;
  position: relative;
  background: #ddd;
}
.filter-block .range-slider-two .progress {
  height: 100%;
  left: 42%;
  right: 39%;
  position: absolute;
  border-radius: 5px;
  background: #14a077;
}
.filter-block .range-input {
  position: relative;
}
.filter-block .range-input input {
  position: absolute;
  width: 100%;
  height: 6px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.filter-block .range-input input[type="range"]::-webkit-slider-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #14a077;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.filter-block .range-input input[type="range"]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid #14a077;
  background: #ffffff;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.filter-block .range-slider-one input {
  margin-top: 35px;
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #d3d3d3;
  background: linear-gradient(
    to right,
    #14a077 0%,
    #14a077 28%,
    #ddd 6%,
    #ddd 0%
  );
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.filter-block .range-slider-one input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #14a077;
  background: #ffffff;
  box-shadow: #43e5f7;
  cursor: pointer;
}
.slider2::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
.block-radius {
  font-weight: 700;
  font-size: 16px;
}
.block-radius span {
  font-size: 16px;
  color: #04aa6d;
}
.btn-find-job {
  width: 100%;
}
.btn-find-job button {
  text-transform: none;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  background-color: #14a077;
  padding: 12px 32px;
  width: 100%;
  font-size: 16px;
}
.btn-find-job button:hover {
  background-color: #148160;
}
.wrapper-content {
  max-width: 929px;
  width: 100%;
}

/*switcher */
.wrapper-content .switcher {
  display: flex;
  justify-content: space-between;
}
.switcher .icon-menu {
  color: #a0a0a0;
  border-radius: 2px;
  font-size: 16px;
  padding: 7px 8px 7px 8px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}
.switcher .icon-menu:hover {
  background-color: #14a077;
  color: #ffffff;
  border: none;
}

.switcher .active {
  background-color: #14a077;
  color: #ffffff;
  margin: 0px 10px;
  border: none;
}
.switcher .active::before {
  content: "\e9bd";
  display: inline-flex;
  transform: rotate(90deg);
}
.switcher .text-number {
  font-size: 16px;
  font-weight: 400;
  display: inline-flex;
  color: #121212;
}
.switcher .text-number > p {
  color: #64666c;
}
.switcher-right {
  display: flex;
  justify-content: space-between;
}

.switcher-right .group-select {
  background-color: #f1f1f1;
  border-radius: 4px;
  font-size: 14px;
  color: #121212;
  font-weight: 400;
  padding-right: 16px;
}
/* select-custom */
.switcher-right select {
  cursor: pointer;
  padding: 12px 16px;
  font-style: normal;
  overflow: hidden;
  background: url(../icons/arrow-down.png) no-repeat right #f1f1f1;
  border: 1px solid #f1f1f1;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}
.switcher-right .group-select-first {
  margin-right: 12px;
}
/* End switcher */
/* main */
.main-jobs {
  margin-top: 28px;
  margin-bottom: 40px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 32px;
}
.job-block {
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 24px;
}
.job-block:hover {
  border: 1px solid #14a077;
}
.job-block .job-detail {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
.job-block .inner-box {
  display: flex;
  align-items: center;
}
.job-block .inner-box .img {
  max-width: 60px;
  margin-right: 16px;
}
.job-block .inner-box .img > img {
  width: 100%;
}
.btn-apply-job {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.job-block .inner-box span.icon-heart {
  margin-right: 20px;
  border-radius: 1000px;
  padding: 12px;
  color: #e5e5e5;
  font-size: 17.42px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}
.job-block .inner-box span.icon-heart:active,
.job-block .inner-box span.icon-heart:hover {
  color: #eb4d4d;
}
.btn-apply-job button {
  padding: 8px 24px;
  font-size: 16px;
  line-height: 26px;
  border: none;
  color: #fff;
  border-radius: 4px;
  background-color: #14a077;
  text-transform: none;
}
.btn-apply-job button:hover {
  background-color: #148160;
}
.job-block .content h4 a {
  transition: all 300ms ease;
  color: #14a077;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.job-block .content h3 a {
  transition: all 300ms ease;
  font-size: 20px;
  font-weight: 700;
  color: #121212;
  line-height: 28px;
}
.job-block .content h3 a:hover {
  color: #148160;
}
.job-block .content h3 span.icon-bolt {
  font-size: 14px;
  background-color: #504cfe;
  border-radius: 50%;
  padding: 3px;
  color: #ffffff;
}
.job-block .content ul {
  margin-top: 4px;
}
.job-block .content ul li {
  color: #64666c;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  display: inline-block;
}
.job-block .content ul li:first-child {
  margin-right: 16px;
}
.job-block .category {
  margin: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.job-block .category .tag span {
  background-color: #f1f1f1;
  color: #121212;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 52px;
}
.job-block.category .tag span:first-child {
  margin-right: 8px;
}
.job-block .category .star span {
  font-size: 12.8px;
  color: #ffb321;
}
.job-block .category .star span:last-child {
  color: #e5e5e5;
}
.job-block .job-info {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.job-block .job-info .job-info-left {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #121212;
}
.job-block .job-info span.dollar {
  font-size: 20px;
  color: #121212;
  margin-right: 8px;
}
.job-info .job-info-left span.year {
  font-weight: 400;
  color: #64666c;
}
.job-info .job-info-right {
  color: #64666c;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
/* End main job */
/* Pagination */
.wrapper-content .job-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #121212;
}
.job-link .arrow-left,
.job-link .arrow-right {
  padding: 12px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-size: 16px;
  color: #121212;
}

.job-link .pagination a {
  font-size: 16px;
  font-weight: 700;
  color: #121212;
  margin: 8px;
  padding: 9px 17px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.job-link .pagination > a.active {
  margin: 0;
  background-color: #14a077;
  color: #ffffff;
}
.job-link .arrow-left:hover,
.job-link .arrow-right:hover,
.job-link .pagination a:hover {
  background-color: #14a077;
  color: #ffffff;
}

/* side-job-2col */
.job-2-col > .job-block {
  width: 48.2%;
}
.job-2-col > .job-block span.icon-heart {
  right: 0;
  top: 0px;
  position: absolute;
  margin: 0px;
}
