/* sidebar */

.main-content {
  max-width: 1410px;
  display: flex;
  margin: 60px auto;
}
.sidebar {
  max-width: 449px;
  width: 100%;
  height: 100%;
  margin-right: 32px;
  padding: 16px 24px;
  background-color: #f5f5f5;
  border-radius: 8px;
}
.form-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}
.form-sidebar h1 {
  color: #121212;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 12px;
}
.group-sidebar-item {
  max-width: 400px;
  width: 100%;
}

/* select-custom */
.group-sidebar-item select#location {
  width: 100%;
  /* height: 34px; */
  overflow: hidden;
  /* color: #ddd; */
  background: url(../icons/arrow-down.png) no-repeat right #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

/* two range-slide */

.rangeslider-widget {
  position: relative;
}

.range-slider-one {
  position: relative;
  min-height: 48px;
  padding-top: 10px;
}

.range-slider-one .ui-widget.ui-widget-content {
  height: 5px;
  border: none;
  margin-bottom: 20px;
  border-radius: 30px;
  background: #d4e1f6;
}

.range-slider-one .ui-slider .ui-slider-range {
  top: 0px;
  height: 5px;
  background: #1967d2;
}

.range-slider-one .ui-state-default,
.range-slider-one .ui-widget-content .ui-state-default {
  position: absolute;
  top: -7px;
  width: 17px;
  height: 17px;
  background: #ffffff;
  border: 2px solid #1967d2;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
}

.range-slider-one .input-outer {
  display: flex;
  justify-content: center;
}

.range-slider-one .amount-outer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  padding: 0 10px;
  height: 30px;
  text-align: center;
  background: #d4e1f6;
  border-radius: 8px;
  font-size: 14px;
  line-height: 19px;
  color: #1967d2;
}

.range-slider-one .amount {
  margin-right: 5px;
}

.range-slider-one .ui-state-default:last-child {
  display: block !important;
}

.range-slider-one.salary-range .ui-state-default {
  display: block !important;
}
/* .range-slide {
  position: relative;
  margin: 40px;
  height: 4px;
  width: 240px;
}

.slide {
  position: absolute;
  top: 0;
  height: 4px;
  background: #ccc;
  left: 9px;
  right: 9px;
}

.line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
  background-color: red;
}

.thumb {
  position: absolute;
  z-index: 2;
  text-align: left;
  border: 1px solid red;
  background-color: #4ee44e;
  border-radius: 50%;
  outline: none;
  top: -7px;
  height: 18px;
  width: 18px;
  margin-left: -9px;
}

input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  pointer-events: none;
  z-index: 3;
  height: 3px;
  top: 0;
  width: 100%;
  opacity: 0;
  margin: 0;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  border-radius: 50%;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.display {
  margin: 40px;
  width: 240px;
  display: flex;
  justify-content: space-between;
} */
/* range-slide */

/* .widget-filter-isotope .grid form .range-slider {
  margin-bottom: 33px;
}

.widget-filter-isotope .grid form .range-slider .title {
  font-family: "Hind", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #042181;
}

.widget-filter-isotope .grid form .range-slider input {
  width: 100%;
}

.widget-filter-isotope .grid form .range-slider .value {
  font-family: "Hind", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #4f556a;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
} */

/* list jobs */
.wrapper-content {
  max-width: 929px;
  /* margin: 60px auto; */
}
/* .icon-left {
  display: flex;
  align-items: center;
} */
.wrapper-content-filter {
  width: 100%;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 2px 2px rgba(28, 36, 51, 0.1);
  border-radius: 8px;
  margin-bottom: 60px;
  padding: 16px 16px 16px 24px;
  display: flex;
  align-items: center;
}
.group-filter-1,
.group-filter-2,
.group-filter-3 {
  max-width: 422px;
  width: 100%;
}
.group-filter-2,
.group-filter-3 {
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-filter-2 span,
.group-filter-3 span {
  font-size: 24px;
  margin-right: 8px;
}
.group-filter-2 label,
.group-filter-3 label {
  color: #121212;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.group-filter-2 {
  border-right: 1px solid #e5e5e5;
}
input.input-filter-search {
  padding: 12px 24px;
  border-top: hidden;
  border-bottom: hidden;
  border-left: hidden;
  border-right: 1px solid #e5e5e5;
}

input.input-filter-search::placeholder {
  color: #b1b1b1;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-left: 8px;
}
.group-filter-1 {
  position: relative;
}
.search-job {
  left: 0px;
  top: 18px;
  color: #121212;
  font-size: 16px;
  position: absolute;
}
button.btn-find {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  padding: 12px 32px;
  background-color: #14a077;
  color: #ffffff;
  border-radius: 4px;
  text-transform: none;
}
/* header */
.wrapper-content-header {
  display: flex;
  justify-content: space-between;
}
.icon-menu {
  color: #a0a0a0;
  border-radius: 2px;
  font-size: 16px;
  padding: 7px 8px 7px 8px;
  border: 1px solid #e5e5e5;
}
.icon-menu.active {
  background-color: #14a077;
  color: #ffffff;
  margin: 0px 10px;
  border: none;
}
.icon-menu.active::before {
  content: "\e9bd";
  display: inline-flex;
  transform: rotate(90deg);
}
.text-number {
  font-size: 16px;
  font-weight: 400;
  display: inline-flex;
}
.text p {
  color: #64666c;
}
.right {
  display: flex;
  justify-content: space-between;
}

.bg-right {
  padding: 12px 16px;
  background-color: #f1f1f1;
  border-radius: 4px;
  font-size: 14px;
  color: #121212;
  font-weight: 400;
}
.bg-right-first {
  margin-right: 12px;
}
.icon-caret-down {
  margin-left: 24px;
  color: #b1b1b1;
  border-radius: 1px;
  transform: matrix(0, -1, -1, 0, 0, 0);
}

/* main */
.wrapper-content-cart {
  /* max-width: 689px; */
  margin-top: 28px;
  margin-bottom: 40px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 32px;
}
.cart-item {
  max-width: 689px;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 24px;
}
.cart-detail {
  border-bottom: 1px solid #e5e5e5;
}
.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company .img {
  max-width: 60px;
  margin-right: 16px;
  flex: 1;
}
.company .img > img {
  width: 100%;
}
.company .heading {
  flex: 8;
}
.heading-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-top-title {
  /* max-width: 390px; */
}
span.icon-heart {
  width: 40px;
  height: 40px;
  border-radius: 1000px;
  padding: 12px;
  color: #e5e5e5;
  font-size: 17.42px;
  border: 1px solid #e5e5e5;
}
.heading-top-title h4 {
  color: #14a077;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.heading-top-title h2 {
  font-size: 20px;
  font-weight: 700;
  color: #121212;
  line-height: 28px;
}
.heading-top-title h2 > span.icon-bolt {
  width: 20px;
  height: 20px;
  display: inline-block;
  font-size: 14px;
  background-color: #504cfe;
  border-radius: 50%;
  padding: 3px;
  color: #ffffff;
}
.heading-bottom {
  color: #64666c;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  display: inline-flex;
}
.heading-bottom-map {
  margin-right: 16px;
}
.category {
  margin: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category .tag span {
  background-color: #f1f1f1;
  color: #121212;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 52px;
}
.category .tag span:first-child {
  margin-right: 8px;
}
.category .star span {
  font-size: 12.8px;
  color: #ffb321;
}
.category .star span:last-child {
  color: #e5e5e5;
}
.cart-info {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-info-left {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #121212;
}
.dollar {
  font-size: 20px;
  color: #121212;
  margin-right: 8px;
}
.cart-info-left span.year {
  font-weight: 400;
  color: #64666c;
}
.cart-info-right {
  color: #64666c;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.wrapper-content-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #121212;
}
.arrow-left,
.arrow-right {
  padding: 12px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-size: 16px;
  color: #121212;
}

.pagination a {
  font-size: 16px;
  font-weight: 700;
  color: #121212;
  margin: 8px;
  padding: 9px 17px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.pagination > a.active {
  margin: 0;
  background-color: #14a077;
  color: #ffffff;
}
.arrow-left:hover,
.arrow-right:hover,
.pagination a:hover {
  background-color: #14a077;
  color: #ffffff;
}
