
/* 

    Reset
    Header
    Footer
   

*/

/* Reset
-------------------------------------------------------------- */
html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
       -ms-text-size-adjust: 100%;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
       -ms-text-size-adjust: 100%;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video  { 
    font-family: inherit; 
    font-size: 100%; 
    font-weight: inherit; 
    font-style: inherit; 
    vertical-align: baseline; 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0;
    background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}
                          
ol, ul {
    list-style: none;
}

blockquote, q { 
    -webkit-hyphens: none;
      -moz-hyphens: none;
       -ms-hyphens: none;
           hyphens: none;
            quotes: none;
}

figure {
    margin: 0;
}

:focus {
    outline: 0;
}

table { 
    border-collapse: collapse; 
    border-spacing: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

legend {
    white-space: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
}

button,
input {
    line-height: normal;
}

input,
textarea {
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    line-height: 1;
    cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
    border: none;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
    -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

body {
font: 14px/25px "Plus Jakarta Sans", sans-serif;
font-weight: 400;
background-color: #fff;		
color: #202020;
}

a {		
text-decoration: none;
-webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
color: #36a7e3;
text-decoration: none;
outline: 0;
-webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
}

ul, ol {
padding: 0;
}

img {
max-width: 100%;
height: auto;		
}

b, strong {
font-weight: 900;
}

h1 { font: 50px/50px "Plus Jakarta Sans", sans-serif;}
h2 { font: 45px/45px "Plus Jakarta Sans", sans-serif;}
h3 { font: 30px/30px "Plus Jakarta Sans", sans-serif;}
h4 { font: 25px/25px "Plus Jakarta Sans", sans-serif;}
h5 { font: 22px/22px "Plus Jakarta Sans", sans-serif;}
h6 { font: 20px/20px "Plus Jakarta Sans", sans-serif;}

h1, h2, h3, h4, h5, h6 {
margin: 0;	
}

button {
border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {		
font-size: 12px;
font-family: "Plus Jakarta Sans", sans-serif;
font-weight: 700;   
color: #202020;
background-color: transparent;
text-transform: uppercase;
border-width: 1px;
border-style: solid;
border-color: #202020;
padding: 7px 21px;
-webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {	
width: 100%;	
font-style: italic;	
font-size: 14px;
border: 1px solid #e5e5e5;
color: #a0a0a0;
background-color: transparent;		
height: 50px;
padding: 12px 30px;
border-radius: 0;
-webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
-webkit-box-shadow: none;
   -moz-box-shadow: none;
        box-shadow: none;
}

textarea {
width: 100%;
height: 166px;
padding: 15px 30px;
}

input[type="checkbox"] {
display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {		
color: #a0a0a0;
opacity: 1;
}

input:-ms-input-placeholder {
color: #a0a0a0;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
color: #a0a0a0;
opacity: 1;
}

/* bootstrap resetting elements */
.btn {
background-image: none;
}

textarea, 
input[type="text"],
input[type="submit"],
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
-webkit-appearance: none;
text-shadow: none;
-webkit-box-shadow: none;
   -moz-box-shadow: none;
     -o-box-shadow: none;
        box-shadow: none;
color: #a0a0a0;
}

/* Header
---------------------------------------------- */
#header {
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.sticky-area-wrap {
    display: flex;
    align-items: center;
    max-width: 1920px;
    margin: auto;
}

/* header-ct-left */
.sticky-area-wrap .header-ct-left {
    display: flex;
    padding-left: 59.57px;
    padding-right: 138px;
    gap: 49.5px;
    align-items: center;
}

.sticky-area-wrap .header-ct-left .categories {
    position: relative;
}

.sticky-area-wrap .header-ct-left .categories a {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #121212;
}

.sticky-area-wrap .header-ct-left .categories > a span {
    font-size: 24px;
    color: #000000;
    margin-right: 8px;
    position: relative;
    top: 4px;
}

/* .sub-categorie */
.sub-categorie {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: #fff;
    z-index: 20;
    border-radius:0 0 8px 8px ;
    transition: ease-out 0.3s;
    display: flex;
}

.sticky-area-wrap .header-ct-left .categories:hover .sub-categorie {
    opacity: 1;
    visibility: visible;
    top: 53px;
}

.sub-categorie .pop-up {
    padding: 24px;
    border: 1px solid #E5E5E5;
}

.sub-categorie ul.pop-up li {
    min-width: 240px;
    padding: 12px 48px;
    padding-right: unset;
    text-align: start;
    position: relative;
    font-weight: 500;
    line-height: 28px;
}

.sub-categorie ul.pop-up li span {
    position: absolute;
    top: 14px;
    left: 12px;
    font-size: 24px;
    color: #64666C;
}

.sub-categorie ul.pop-up li:hover,
.sub-categorie ul.pop-up li.active {
    background-color: #F5F5F2;
}

.sub-categorie ul.pop-up li:hover span::before,
.sub-categorie ul.pop-up li.active span::before {
    color: #14A077;
}

.sub-categorie .pop-up-content {
    border: 1px solid #E5E5E5;
    display: flex;
}

.sub-categorie .pop-up-item {
    width: 240px;
    padding-top: 40px;
    padding-left: 24px;
    text-align: start;
}

.sub-categorie .pop-up-item .top-title {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #121212;
    margin-bottom: 20px;
}

.sub-categorie .pop-up-item .top-item {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #121212;
    margin-bottom: 24px;
}


/* header-ct-center */
.sticky-area-wrap .header-ct-center {
    flex-grow: 1;
}

#menu-primary-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#menu-primary-menu > li {
    padding: 26px 20px 26px 0;
    position: relative;
}

#menu-primary-menu li a {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #121212;
}

#menu-primary-menu li.menu-item-has-children span::before {
    position: absolute;
    right: -3px;
    top: 40%;
    font-size: 18px;
}

/* sub-menu */
#menu-primary-menu > li .sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 120%;
    left: 0;
    background-color: #fff;
    z-index: 20;
    transition: ease-out 0.3s;
    min-width: 304px;
    border: 1px solid #E5E5E5;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    text-align: start;
}

#menu-primary-menu > li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

#menu-primary-menu > li .sub-menu .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#menu-primary-menu > li .sub-menu .sub-menu-item {
    width: 100%;
    padding: 6px 0 6px 32px;
    transition: ease-out 0.3s;
}

#menu-primary-menu > li .sub-menu .sub-menu-item:hover,
#menu-primary-menu > li .sub-menu .sub-menu-item.current-sub-menu-item {
    background-color: #F5F5F2;
}

#menu-primary-menu > li .sub-menu .sub-menu-item:hover a,
#menu-primary-menu > li .sub-menu .sub-menu-item.current-sub-menu-item a {
    color: #14A077;
}

/* header-ct-right */
.sticky-area-wrap .header-ct-right {
    display: flex;
    align-items: center;
}

.sticky-area-wrap .header-ct-right .help a {
    color: #64666C;
    font-size: 24px;
    margin-right: 23px;
    transform: translateY(2px);
}

.sticky-area-wrap .header-ct-right .bell {
    color: #121212;
    font-size: 24px;
    margin-right: 24px;
    position: relative;
    cursor: pointer;
}

.sticky-area-wrap .header-ct-right .bell span {
    position: relative;
}

.sticky-area-wrap .header-ct-right .bell::after {
    position: absolute;
    content: "";
    top: 0;
    right: 2px;
    width: 8px;
    height: 8px;
    background-color: #14A077;
    border-radius: 4px;
}

/* sub-notification */
.sticky-area-wrap .header-ct-right .bell .sub-notification {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 60px;
    left: -30px;
    width: 424px;
    padding: 24px;
    background-color: #fff;
    z-index: 20;
    transition: ease-out 0.3s;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 2px 2px rgba(28, 36, 51, 0.1);
    text-align: start;
}

.sticky-area-wrap .header-ct-right .bell:hover .sub-notification {
    opacity: 1;
    visibility: visible;
    top: 53px;
}

.sticky-area-wrap .header-ct-right .bell .sub-notification-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #121212;
    margin-bottom: 28px;
}

.sticky-area-wrap .header-ct-right .bell .sub-notification-heading span {
    color: #14A077;
}

.sticky-area-wrap .header-ct-right .bell .sub-notification-item {
    padding-bottom: 12px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
    position: relative;
}

.sticky-area-wrap .header-ct-right .bell .sub-notification-item:last-child {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
}

.sticky-area-wrap .header-ct-right .bell .sub-notification-item.icon-plus::before {
    position: absolute;
    content: "\ea0a";
    transform: rotate(45deg);
    font-size: 12px;
    right: 0;
    top: 0;
}

.sticky-area-wrap .header-ct-right .bell .sub-notification-item .time {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #64666C;
    padding-left: 24px;
    margin-bottom: 16px;
    position: relative;
}

.sticky-area-wrap .header-ct-right .bell .sub-notification-item .time::before {
    position: absolute;
    content: "";
    top: 1px;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 4px solid #14A077;
}

.sticky-area-wrap .header-ct-right .bell .sub-notification-item .content {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #64666C;
}

.sticky-area-wrap .header-ct-right .bell .sub-notification-item .content .name {
    font-weight: 500;
    color: #121212;
}
.sticky-area-wrap .header-ct-right .bell .sub-notification-item .content .status {
    font-weight: 500;
    color: #14A077;
}

.sticky-area-wrap .header-ct-right .bell .sub-notification-button {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #14A077;
    border-radius: 4px;
    margin-top: 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}

.sticky-area-wrap .header-ct-right .bell .sub-notification-button a {
    color: #fff;
}


.sticky-area-wrap .header-ct-right .account {
    display: flex;
    gap: 9px;
    align-items: center;
    margin-right: 21px;
    position: relative;
}

.sticky-area-wrap .header-ct-right .account img {
    border-radius: 20px;
}

.sticky-area-wrap .header-ct-right .account > span {
    font-size: 20px;
    margin-left: 7px;
}

/* sub-account */
.sticky-area-wrap .header-ct-right .account .sub-account {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 70px;
    left: -50px;
    transition: ease-out 0.3s;
    width: 288px;
    padding: 24px;
    text-align: start;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 2px 2px rgba(28, 36, 51, 0.1);
    border-radius: 0px 0px 8px 8px;
}

.sticky-area-wrap .header-ct-right .account .sub-account-item {
    width: 100%;
    padding: 12px;
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.sticky-area-wrap .header-ct-right .account .sub-account-item a {
    color: #121212;
}

.sticky-area-wrap .header-ct-right .account .sub-account-item span {
    font-size: 24px;
    margin-right: 12px;
}

.sticky-area-wrap .header-ct-right .account:hover .sub-account {
    opacity: 1;
    visibility: visible;
    top: 62px;
}

.sticky-area-wrap .header-ct-right .button {
    margin-right: 56px;
    padding: 12px 32px;
    border: 1px solid #14A077;
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    border-radius: 4px;
}

.sticky-area-wrap .header-ct-right .button a {
    color: #121212;
}

/* Footer
------------------------------------------ */
.footer {
    background-color: #F5F5F2;
}

/* footer-logo */
.footer-logo {
    width: 100%;
    max-width: 1410px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    padding-top: 60px;
    padding-bottom: 20px;
}

.widget-social {
    display: flex;
    gap: 16px;
    align-items: center;
}

.widget-social-title {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #121212;
}

.widget-social .widget-social-content {
    display: flex;
    gap: 12px;
}

.widget-social .widget-social-content .widget-social-item {
    font-size: 16px;
    padding: 7.5px 12px;
    color: #121212;
    background-color: #fff;
    border-radius: 20px;
}

/* footer-content */
.footer-content {
    width: 100%;
    max-width: 1410px;
    margin: auto;
    border-bottom: 1px solid #E5E5E5;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    gap: 150px;
}

.footer-content .footer-about {
    max-width: 340px;

}

.footer-content .footer-about .phone {
    display: flex;
    gap: 17px;
    margin-bottom: 22px;
}

.footer-content .footer-about .phone span.icon-call-calling {
    font-size: 36px;
}

.footer-content .footer-about .phone .text {
    max-width: 138px;
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #121212;
}

.footer-content .footer-about .phone .text a {
    display: block;
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1D1D1D;
}

.footer-content .footer-about > p {
    font-family: "DM Sans" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #1D1D1D;
    margin-bottom: 12px;
}

.footer-content .footer-about .address {
    font-family: "DM Sans" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #121212;
    margin-bottom: 20px;
}

.footer-content .footer-about .address span {
    font-size: 16px;
    margin-right: 8px;
    color: #64666C;
}

.widget-block-search-1-wrap {
    display: flex;
}

.widget-block-search-1-wrap input {
    background-color: #fff;
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #B1B1B1;
    padding-top: 12px;
    padding-left: 16px;
    font-style: normal ;
    border-radius: 8px 0 0 8px;
}

.widget-block-search-1-wrap .widget-block-search-1-button {
    font-size: 16px;
    padding: 15px 16px;
    background-color: #14A077;
    color: #FFFFFF;
    border-radius: 0 8px 8px 0;
    border: none;
}

.footer-title {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #121212;
    margin-bottom: 16px;
}

.footer .footer-links-item {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
} 

.footer .footer-links-item a {
    color: #64666C;
} 

/* footer-coppyright */
.footer-coppyright {
    width: 100%;
    max-width: 1410px;
    margin: auto;
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
}

.footer-coppyright-left {
    display: flex;
    gap: 40px;
}

.footer-coppyright-left .language {
    display: flex;
    gap: 10px;
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #121212;
}

.footer-coppyright-right {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #E5E5E5;
}

.footer-coppyright-right a {
    color: #64666C;
}

/* Blog
--------------------------- */
.blog.main-content {
    width: 100%;
    max-width: 1410px;
    margin: auto;
    padding: 60px 0;
    display: flex;
    gap: 32px;
}

.blog .list-blog {
    width: 100%;
    max-width: 1050px;
}

.blog .list-blog .widget-blog-1 {
    margin-bottom: 40px;

}

.blog .list-blog .widget-blog-1 .main-title {
    width: 100%;
    max-width: 490px;
}

/* Blog masonry
--------------------------- */
.blog-masonry.main-content {
    width: 100%;
    max-width: 1410px;
    margin: auto;
    padding: 60px 0;
}

.blog-masonry .list-blog-wrap {
    display: flex;
    gap: 32px;
    align-items: flex-start;
}

.blog-masonry .list-blog {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.blog-masonry .list-blog .widget-blog-1 {
    flex-wrap: wrap;
    background: #FFFFFF;
    border-radius: 8px;
    gap: 0px;
}

.blog-masonry .list-blog .widget-blog-1:hover {
    box-shadow: 0px 10px 25px rgba(54, 95, 104, 0.1);
    border: none;
}

.blog-masonry .list-blog .widget-blog-1 .image {
    width: 100%;
}

.blog-masonry .list-blog .widget-blog-1 .image img {
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.blog-masonry .list-blog .widget-blog-1 .content {
    padding: 24px;
}

.blog-masonry .widget-pagination {
    width: 100%;
    justify-content: center;
    margin-top: 40px;
}

/* Blog grid
--------------------------- */
.blog-grid.main-content {
    width: 100%;
    max-width: 1410px;
    margin: auto;
    padding: 60px 0;
}

.blog-grid .list-blog-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.blog-grid .list-blog-wrap .widget-blog-1 {
    flex-wrap: wrap;
    background: #FFFFFF;
    border-radius: 8px;
    gap: 0px;
    width: 31.82%;
    transition: all 0.3s ease-in-out;
}   

.blog-grid .list-blog-wrap .widget-blog-1:hover {
    box-shadow: 0px 10px 25px rgba(54, 95, 104, 0.1);
    border: none;
}

.blog-grid .list-blog-wrap .widget-blog-1 .image img {
    border-radius: 8px 8px 0 0;
}

.blog-grid .list-blog-wrap .widget-blog-1 .content {
    padding: 24px;
}

.blog-grid .widget-pagination {
    width: 100%;
    justify-content: center;
    margin-top: 40px;
}

/* blog-detail-side-bar
---------------------------------- */
.blog-detail-side-bar.main-content {
    width: 100%;
    max-width: 1410px;
    margin: auto;
    padding: 60px 0;
}

.blog-detail-side-bar-wrap {
    display: flex;
    gap: 153px;
}

.blog-detail-side-bar-content {
    width: 100%;
}

.blog-detail-side-bar-content > .widget-blog-1 {
    border: none;
    flex-wrap: wrap;
    gap: 29px;
    margin-bottom: 31px;
}

.blog-detail-side-bar-content > .widget-blog-1 .content {
    padding: 0;
}

.blog-detail-side-bar-content > .widget-blog-1 .image img,
.blog-detail-side-bar-content > .widget-blog-1 .image {
    width: 100%;
}

.blog-detail-side-bar-content > p {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #64666C;
    margin-bottom: 16px;
}

.blog-detail-side-bar-content .image-single {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
}

.blog-detail-side-bar-content .image-single img {
    width: 100%;
}

.blog-detail-side-bar-content > .main-title {
    margin-bottom: 16px;
}

.blog-detail-side-bar-content ul {
    margin-bottom: 16px;
}

.blog-detail-side-bar-content ul li {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #121212;
    margin-bottom: 12px;
    list-style: inside circle;
}

.blog-detail-side-bar-content .tag-social {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 40px;
}

.blog-detail-side-bar-content .tag-social .widget-popular-tags {
    display: flex;
    gap: 12px;
    align-items: center;
}

.blog-detail-side-bar-content .tag-social .widget-popular-tags .main-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
}

.blog-detail-side-bar-content .tag-social .widget-social-item {
    background-color: #F1F1F1;
}

.blog-detail-side-bar-content .nav-links {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 40px;
    padding: 24px 0 37px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.blog-detail-side-bar-content .nav-links .title-post {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 4px;
}

.blog-detail-side-bar-content .nav-links .title-post a {
    color: #14A077; 
}

.blog-detail-side-bar-content .nav-links p {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #121212;
}

.blog-detail-side-bar-content .nav-links::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 65px;
    background-color: #E5E5E5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}   

.blog-detail-side-bar-content .comment-list-wrap {
    margin-bottom: 40px;
}

.blog-detail-side-bar-content .comment-list-wrap .comment-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px;
}

.widget-comment-wrap {
    display: flex;
    gap: 20px;
    position: relative;
}

.widget-comment-wrap .feature-post img {
    border-radius: 30px;
    width: 100%;
}

.widget-comment-wrap .content-post {
    border-bottom: 1px solid #E5E5E5;
    flex-grow: 1;
}

.blog-detail-side-bar-content .comment-list .widget-comment-wrap:last-child .content-post {
    border: none;
}

.widget-comment-wrap .content-post .post-author {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.widget-comment-wrap .content-post .post-author a {
    color: #121212;
    margin-right: 12px;
}

.widget-comment-wrap .content-post .post-author span {
    color: #FFFFFF;
    background-color: #37B853;
    border-radius: 10px;
    font-size: 10px;
    padding: 4.5px 5px;
}

.widget-comment-wrap .content-post .post-date {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #64666C;
    margin-bottom: 8px;
}

.widget-comment-wrap .content-post p {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #64666C;
    margin-bottom: 8px;
}

.widget-comment-wrap .content-post .button {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
}

.widget-comment-wrap .content-post .button a {
    color: #14A077;
}


.widget-comment-wrap .helpfull {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 16px;
    border: 1px solid #E5E5E5;
    border-radius: 22px;
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.widget-comment-wrap .helpfull a {
    color: #6A6A6A;
}

.widget-comment-wrap .helpfull span {
    font-size: 20px;
    margin-left: 8px;
}

.blog-detail-side-bar-content .comment-list .widget-comment-wrap {
    margin-bottom: 20px;
}

.blog-detail-side-bar-content .comment-list .children {
    padding-left: 78px;
}

.comment-reply {
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    padding: 40px;
}

.comment-reply .comment-reply-title {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #121212;
    margin-bottom: 24px;
}

.comment-reply form .comment-reply-name-email {
    display: flex;
    gap: 20px;
}

.comment-reply form .infor-container {
    width: 100%;
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #121212;
}

.comment-reply form .infor-container textarea,
.comment-reply form .infor-container input {
    background-color: #E5E5E5;
    color: #64666C;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    padding: 15px 16px;
    font-style: normal;
    margin-top: 12px;
    margin-bottom: 20px;
}

.comment-reply form .checkbox {
    padding-left: 24px;
}

.comment-reply form .checkbox label {
    padding-left: 0;
}

.comment-reply form .form-submit button {
    font-family: "Plus Jakarta Sans" , sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 12px 28px;
    background-color: #14A077;
    border-radius: 4px;
    border: none;
    margin-top: 12px;
}

.blog-detail-side-bar .widget-news {
    margin-top: 60px;
}

/* blog-detail */
.blog-detail .blog-detail-side-bar-wrap {
    max-width: 929px;
    margin: auto;
}

/* blog-detail-01 */
.blog-detail-01.page-title {
    height: 568px;
    background-image: url(../images/page-title/blog-detail.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -110px;
}

.blog-detail-01 .blog-detail-side-bar-wrap {
    max-width: 929px;
    margin: auto;
}

.blog-detail-01 .blog-detail-side-bar-content > .widget-blog-1 {
    padding: 32px;
}

.blog-detail-01 .blog-detail-side-bar-content > .widget-blog-1 .sub-title{
    margin: auto;
}

.blog-detail-01 .blog-detail-side-bar-content > .widget-blog-1 .meta {
    justify-content: center;
}